html,
body {
    margin: 0;
    padding: 0;
}

.navigation-bar {
    margin: 0;
    padding: 0;
}

.navigation-bar>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
    top: 0;
}

.navigation-bar>ul>li {
    float: left;
}

.navigation-bar>ul>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-title {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 5px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: bolder;
}

.navigatoin-icon {}

.navigation-toggle-side {
    padding: 5px;
    margin: 5px;
    border: 1px white solid;
    border-radius: 10%;
    cursor: pointer;
}

.navigation-toggle-side>div {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
}

.navigation-search {}

.navigation-right {}